In [1]:
import pandas as pd
time = pd.date_range('6/28/2013', periods=5, freq='5D')

In [2]:
l1 = ['Monday' ,'Tuesday', 'Wednesday', 'Thrusday', 'Friday']

In [3]:
df = pd.DataFrame(list(zip(l1, time)), columns =['Name', 'Date'])

In [4]:
df

        Name       Date
0     Monday 2013-06-28
1    Tuesday 2013-07-03
2  Wednesday 2013-07-08
3   Thrusday 2013-07-13
4     Friday 2013-07-18

In [15]:
dtype_list = df.dtypes.to_list()

In [16]:
cols = df.columns.to_list()

In [17]:
df['Date']

0    2013-06-28 00:00:00
1    2013-07-03 00:00:00
2    2013-07-08 00:00:00
3    2013-07-13 00:00:00
4    2013-07-18 00:00:00
Name: Date, dtype: object

In [18]:
df ['Date'] = df['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')

AttributeError: Can only use .dt accessor with datetimelike values

In [19]:
df

        Name                 Date
0     Monday  2013-06-28 00:00:00
1    Tuesday  2013-07-03 00:00:00
2  Wednesday  2013-07-08 00:00:00
3   Thrusday  2013-07-13 00:00:00
4     Friday  2013-07-18 00:00:00

In [20]:
df_dtype_list = df.dtypes.to_list()
for i, col_type in enumerate(df_dtype_list):
    if col_type == "datetime64[ns]":
        df.iloc[:, i] = df.iloc[:, i].dt.strftime('%Y-%m-%d %H:%M:%S')

In [21]:
df

        Name                 Date
0     Monday  2013-06-28 00:00:00
1    Tuesday  2013-07-03 00:00:00
2  Wednesday  2013-07-08 00:00:00
3   Thrusday  2013-07-13 00:00:00
4     Friday  2013-07-18 00:00:00

In [22]:
cols = df.columns.to_list()
df.Date.str.match("\d{4}-\d{2}-\d{2}")

0    True
1    True
2    True
3    True
4    True
Name: Date, dtype: bool

In [23]:
cols

['Name', 'Date']